.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transform: all 2s;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    color: $color-grey-dark;
    background-color: $color-white;
    &::after {
      background-color: #fff;
    }
  }

  &::after {
    content: "";
    display: inline-block; /* since we are styling the inline element  */
    height: 100%; /* this inherited from parent component */
    width: 100%;
    border-radius: 10rem;
    /*
      we want to this effect behind the parent components so we use
      position absolute then and relative reference to the parent element
    */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all 0.5s;
  }

  /* create class for animatiom*/
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
